.App {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background-image: url('resources/wild_oliva.png');
}

.App-title {
  font-size: 1.5em;
  color: whitesmoke;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.table-container {
  margin: 50px;
}

.list-type1{
  margin:0 50em 0 0;
}

.list-type1 ol{
  list-style: none;
  *list-style: decimal;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin-bottom: 4em;
}

.list-type1 ol ol{
  margin: 0 0 2em 2em;
}

.list-type1 .list-header{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .8em 0;
  background: #abf2ff;
  color: #000;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: 1em;
  transition: all .2s ease-in-out;
  }

.list-type1 .list-item{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .8em 0;
  background: #abf2ff;
  color: #000;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: 1em;
  transition: all .2s ease-in-out;
}

.list-type1 .list-header:hover{
  background: #d6f9ff;
  text-decoration:none;
  transform: scale(1.01);
}

/* .options-button {

} */