.App {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background-image: url('resources/wild_oliva.png');
}

.App-title {
  font-size: 1.5em;
  color: whitesmoke;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.table-container {
  margin: 50px;
}

.list-type1{
  margin:0 200px 0 0;
  width: 50em;
}

.list-type1 ol{
  list-style: none;
  *list-style: decimal;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin-bottom: 4em;
}

.list-type1 ol ol{
  margin: 0 0 2em 2em;
}

.list-type1 .list-header{
  position: relative;
  display: inline-block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  width: 50em;
  margin: .8em 0;
  background: #6bbbe2;
  color: #000;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: 1em;
  transition: all .2s ease-in-out;
  }

.list-type1 .list-item{
  position: relative;
  padding: .4em;
  *padding: .4em;
  margin: .5em;
  background: #83F3D4;
  color: #000;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: 1em;
  transition: all .2s ease-in-out;
  float: left;
  width: 200px;
  text-align: center;
}

.list-type1 .list-header:hover{
  background: #88d0f2;
  text-decoration:none;
  transform: scale(1.01);
}

.options-button {
  margin: 0;
}

.options-styling {
  font-weight: normal;
  float: right;
  margin-right: 1em;
}

.options-styling ul {
  list-style-type: none;
  padding-left: 0;
  background: #469cc4;
  text-align: center;
  border-radius: .3em;
  font-weight: 500;
  margin: 0 1em;
}

.options-styling li {
  padding: .5em;
  border-bottom: 1px solid #173149;
  color: #173149;
}

.options-styling li:last-child {
  border-bottom: none;
}

.options-styling li:hover {
  background: #316C89;
  color: white;
}

.options-styling li:hover:first-child {
  background: #316C89;
  color: white;
  border-radius: .3em .3em 0 0;
}

.options-styling li:hover:last-child {
  background: #316C89;
  color: white;
  border-radius: 0 0 .3em .3em;
}

#button {
  margin: 1em 0;
  border: none;
  display: inline-block;
  background: #88d0f2;
  padding: 1em;
  border-radius: .3em;
  font-weight: 500;
  width: 100%;
}

.options-styling ul #button {
  background: #173149;
}

#button:hover {
  background: #6bbbe2;
}

#warning:hover {
  background: red;
  color: white;
}

#root-options:hover {
  border-radius: .3em;
}

footer {
	padding: 5em;
}